<html>
<h1><b>Event Registration Page</b></h1>

<p> Box for hotel info </p>\

<p> Box for Credit card payment</p>

<p> Label to display total hotel price</p>

<p> <input type="button" value="Checkout" id="checkout"> </p>

<p> <input type="button" value="Back" id="back" </p>



</html>

