<html>
    <h1>Single Event Here</h1>


    <p>
        <label> <b>Event Name </b> </label> 
    </p>
        <label> <b>Event Date </b> </label>
    <p>
        <label> <b>Event Time </b></label>
    
    </p>

        <label> <b>Event Description </b></label>
    <p>
        <label> <b>Event id number </b></label> 
    </p>
        <input type="button" value="Register" id="register">

    <form action="/events" method="post">
    {{status}}
    </form>
  
</html>

<script lang="Javascript">

    
</script>

