<html>
    <h1> <b> HOME PAGE = EVENTS </b> </h1>
        will display events registered for and events available
    <input type="button" value="event 1" id="submit" onclick="/eventRegister"/>
    




</html>