<html>
    <h1>REGISTER HERE</h1>


    <p>
        <label> <b>Enter your email/username: </b> </label>
        <input type="text" name="email" id="email"/> 
    </p>
        <label> <b>Enter your desired password (no specific requirements): </b> </label>
        <input type="password" name="password" id="password"/>
    <p>
        <label> <b>First Name: </b></label>
        <input type="text" name="firstName" id="firstName"/> 
    
    </p>

        <label> <b>Last Name: </b></label>
        <input type="text" name="lastName" id="lastname"/> 
    <p>
        <input type="button" value="Submit" id="submit" onclick="registerUser(insertUser())"/>
    </p>
  
</html>

<script lang="Javascript">
function registerUser(callback){
    console.log("Successfully Registered!");
    window.location = "login";
    callback();
    }
    
</script>

