

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #52a1ce; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #52a1ce !important;
  }
  </style>

 
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="/userRegister">REGISTER</a></li>
        <li><a href="/about">ABOUT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Registration</h3>
       <p>
           <label> <b>Enter your email: </b></label>
           <input type="text" name="email" id="email"/>
       </p>   
       <p>
            <label> <b>Enter a desired password (no specific requirements): </b></label>
            <input type="password" name="password" id="password"/>
       </p>       
       <p>
            <label> <b>First name: </b></label>
            <input type="text" name="firstName" id="firstName"/>
       </p>       
       <p>
            <label> <b>Last name: </b></label>
            <input type="text" name="lastName" id="lastName"/>
       </p>       
       <p>
            <label> <b>Address: </b></label>
            <input type="text" name="address" id="address"/>
       </p>

  <p><button type="button" class="btn btn-default" onclick="/index"><b>Register</b></button></p>


<style> 
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 4px solid rgb(255, 252, 252);
    border-radius: 6px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0);
    background-image: ;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width .5s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}
</style>

<style> 
input[type=password] {
    width: 130px;
    box-sizing: border-box;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0);
    background-image: ;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

input[type=password]:focus {
    width: 40%;
}
</style>

</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Brought to you by Team Beta</p> 
</footer>

</body>
</html>



